<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.cloudoki.imagedetectionplugin"
    version="0.0.1">
    <name>Image Detection Plugin</name>

    <description>The ImageDetectionPlugin for Cordova enables the use of OpenCV SDK to detect an inputed image.</description>

    <author>Délio Amaral</author>

    <keywords>OpenCV,image detection, image matching</keywords>

    <repo>https://github.com/</repo>

    <license>See License.md for details of the license</license>

    <engines>
      <engine name="cordova" version=">=3.4.0" />
    </engines>

    <asset src="www/ImageDetectionPlugin.js" target="js/ImageDetectionPlugin.js"/>

    <js-module src="www/ImageDetectionPlugin.js" name="ImageDetectionPlugin">
        <clobbers target="ImageDetectionPlugin" />
    </js-module>

    <!-- Android -->
    <!--
    <platform name="android">

    </platform>
    -->

    <!-- iOS -->
    <platform name="ios">
      <config-file target="config.xml" parent="/*">
        <feature name="ImageDetectionPlugin">
          <param name="ios-package" value="ImageDetectionPlugin" />
          <param name="onload" value="true" />
        </feature>
      </config-file>

      <header-file src="src/ios/ImageDetectionPlugin.h" target-dir="ImageDetectionPlugin" />
      <source-file src="src/ios/ImageDetectionPlugin.mm" target-dir="ImageDetectionPlugin" />
      <header-file src="src/ios/ImageUtils.h" targer-dir="." />
      <source-file src="src/ios/ImageUtils.mm" targer-dir="." />
      <source-file src="src/ios/libjpeg.a" target-dir="." framework="true" />

      <framework src="Accelerate.framework" />
      <framework src="AssetsLibrary.framework" />
      <framework src="AVFoundation.framework" />
      <framework src="CoreGraphics.framework" />
      <framework src="CoreImage.framework" />
      <framework src="CoreMedia.framework" />
      <framework src="CoreVideo.framework" />
      <framework src="Foundation.framework" />
      <framework src="QuartzCore.framework" />
      <framework src="UIKit.framework" />
      <framework src="src/ios/opencv2.framework" custom="true" />
    </platform>
</plugin>
